{% extends 'base.html' %}
{% block body %}
	<h1>Add Category</h1>
    <form method="POST" enctype="multipart/form-data">
    <table border="2">
	<tr>
        <td>Name :</td>
        <td><input type="text" name="CategoryName" value={{data.CategoryName}}></td>
    </tr>
    <tr>
        <td>UrlKey :</td>
        <td><input type="text" name="urlKey" value={{data.urlKey}}></td>
    </tr>
    <tr><td>image :</td>
        <td><input type="file" name="file"></td>
    </tr>
    <tr><td>Discription :</td>
        <td><textarea name="description">{{data.description}}</textarea></td>
    </tr>
    <!-- <input type="text" name="status" value={{data.status}}> -->
    <tr><td>Status :</td>
        <td><select name="status">
                {% if 0 == data.status%}
                {% set selected="selected" %}
                {% else %}
                {% set selected="" %}
                {% endif %}
                <option value="0"{{selected}}>unBlock</option>
                {% if 1 == data.status%}
                {% set selected="selected" %}
                {% else %}
                {% set selected="" %}
                {% endif %}
                <option value="1"{{selected}}>Block</option>
        </select></td>
    </tr>   
    <tr><td>PerentCategory :</td>
        <td><select name="parentCategory">
            {% for Post in parents %}
                {% if Post.parentCategoryId == data.parentCategory%}
                    {% set selected="selected" %}
                {% else %}
                    {% set selected="" %}
                {% endif %}
            <option value="{{Post.parentCategoryId}}"{{selected}}>{{Post.parentCategoryName}}</option>
            
            {% endfor %}
        </select></td>
    </tr>
    <tr>	
        <td colspan="2"><input type="submit" name="btninsert" value="Submit"></td>
	</tr>

    </table>
</form>
	{% endblock %}