{% extends 'base.html' %}
{% block body %}
	<h1>Product List</h1>
	<a href="/task/public/Admin/Product/addproduct" class="navbar-brand">Add Product</a>
	<br><br>
	<table class="table table-striped">
		<tr>
			<th>productName</th>
			<th>urlKey</th>
			<th>image</th>
			<th>status</th>
            <th>Description</th>
            <th>price</th>
			<th colspan="2">Action</th>
		</tr>
	{% for Post in posts %}
	<tr>
		<td>{{Post.productName}}</td>
		<td>{{Post.urlKey}}</td>
		<td><img src="../../../file/{{Post.image}}" height='50px'width='50px'/></td>
		<td>{{Post.status}}</td>
        <td>{{Post.description}}</td>
        <td>{{Post.price}}</td>
		<td><a href="/task/public/Admin/Product/edit?id={{Post.productId}}">Edit</a></td>
		<td><a href="/task/public/Admin/Product/delete?id={{Post.productId}}">Delete</a></td>
	</tr>
	{%endfor%}
	</table>
	{% endblock %}