{% block body%}
<div style="text-align: center;">
<table>
{% for Post in content %}
{%if(Post.status==0)%}

<tr>
    <td colspan="2" align="center"><img src="../../../file/{{Post.image}}" height='200px'width='200px'/></td>
</tr>
<tr>
    <td>Product Name</td><td><b>{{Post.productName}}</b></td>
</tr>
<tr>
    <td>    Product Price</td>
    <td> {{Post.price}}</td>
</tr>
<tr>
    <td>Description</td>
    <td>{{Post.description}}</td>
</tr>
{%else%}
Product Unavailable
{%endif%}
{%endfor%}
</table>
</div>
{% endblock %}
